*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    height: 100vh;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

h1{
    border: 1px solid blue;
    margin: auto 0 0 5rem;
    width: fit-content;
    font-size: 5rem;
}

nav{
    margin: 0 5rem;
    font-weight: bold;
    border-bottom: 1px solid black;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav li{
    padding: 2rem 1rem;
    margin: 0;
}

nav li:first-child{
    margin-right: auto;
}

nav a{
    display: block;
    text-transform: uppercase;
}

nav a:any-link{
    text-decoration: none;
    justify-content: space-between;
    text-wrap: nowrap;
}

nav a:hover,
nav a:focus{
    transform: scale(1.1);
    transition: all 0.1s;
}