*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    height: 100vh;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

h1{
    border: 1px solid blue;
    margin: 40vh 0 0 5rem;
    width: fit-content;
}

nav{
    border: 1px solid red;
    margin: 0 5rem;
    font-weight: bold;
}

nav ul{
    border: 5px solid purple;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav li{
    border: 1px solid green;
    padding: 1rem;
    margin: 0;
}

nav li:first-child{
    margin-right: auto;
}

nav a{
    border: 10px solid orange;
    display: block;
    text-transform: uppercase;
}

nav a:any-link{
    border: 10px solid pink;
    text-decoration: none;
    justify-content: space-between;
}

nav a:hover,
nav a:focus{
    transform: scale(1.1);
    transition: all 0.1s;
}